
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            padding: 50px;
        }

        /* NAVEGADOR FIJO */

        .navbar {

            background-color: green;
            height: 170px;
            position: fixed;
            z-index: 2;
            float: left;

        }
        /* TEXTO */

        .main {
            margin: 5px;
        }

        .text__item {
            padding: 30px;
            margin-top: -20px;
            margin-bottom: -60px;
        }

        .text__item2 {
            padding: 30px;
            margin-top: 20px;
            margin-bottom: -60px;

        }

        .text__item3 {
            padding: 25px;
            margin-top: -10px;
            padding-top: 180px;
        }

        .text__item4 {
            padding: 25px;
            margin-top: -60px;
            padding-top: -180px;
        }


        .text__item5, .text__item6 {
            padding: 25px;
            margin-top: -210px;
            padding-top: 180px;
        }
        
        /* CAJAS Y TEXTO */

        .box {
            /* border: 2px solid #808080; */
            width: 25%;
            padding: 5px;
            margin-top: -90px;
        }

        .box__img {
            padding: 20px;
            margin-bottom: 50px
        }

        P {
            margin-top: -60px;
        }
    